h1, h2 { 
    margin-left: 16px;
    font-family: sans-serif;
}


p {
    margin-left: 32px;
}


table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-family: sans-serif;
}

th {
    background:#6D28D9;
    color:white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


.cuForm {
    margin-left: 32px;
}

input, select {
    margin-bottom: 4px;
    margin-right: 12px;
}

body {
    background: #f4f6fb;
}

nav {
    color: white;
    background-color: #8B5CF6;
    padding: 16px;
    font-family: sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

a {
    margin-left: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 50px;
}

form div {
    display: flex;
}

form label {
    width: 110px;
    white-space: nowrap;
    text-align: right;
    margin-right: 10px;
}

form input {
    width: 250px;
    height: 20px;
}

.homepageDescription {
    margin-left: 32px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.gen-button {
    background-color: #D2B55B;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 10px;
    font-family: sans-serif;
    margin-right: 3px;
}

.gen-button:hover {
    cursor: pointer;
    background-color: #C49102;
}

.delete-button {
    background-color: #EE6B6E;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 10px;
    font-family: sans-serif;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #DE0A26;
}


.add-button {
    margin-left: 33px;
    margin-bottom: 5px;
    background-color: #509319;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 10px;

}

.add-button:hover {
    cursor: pointer;
    background-color: #0D4F3A;
}


.home-buttons {
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.submit-button {
    margin: 0 auto;
    background-color: #509319;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 15px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #0D4F3A;
}

.copyright {
    margin-top: 400px;
    text-align: center;
    color: #777;
    font-size: 0.9rem;
}

